<div class="projects-wrapper">
  <a
    href="https://github.com/davidnso"
    style="text-decoration: none; color: black"
  >
    <img src="../../assets/images/git.png" />

    <p class="github">
      My Github's one click away!
    </p>
  </a>

  <p style="opacity: 50%;">(the cat...squid..idk^)</p>
  <div class="project-row">
    <div class="wrapper">
      <img src="../../assets/images/lockbox.png" />
      <a href="https://github.com/davidnso/lockbox-api">
      <div class="fadedbox lock">
        <div class="title text">
          Student engagement software project, View it on github!!
        </div>
      </div>
      </a>
    </div>
    <div class="wrapper">
      <img src="../../assets/images/intouch.png" />
      <a href="https://github.com/davidnso/U_app_react">
      <div class="fadedbox">
        <div class="title text">
          Contact management application(Work in progress)
        </div>
      </div>
    </a>
    </div>
    <div class="wrapper">
      <img src="../../assets/images/Drivetime.png" />
      <a href="https://github.com/davidnso/drivetime">
        <div class="fadedbox">
          <div class="title text">
            API built to assist rental agencies manage vehicles. (class project)
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
