<div class="resume-wrapper">
  <span class="left">
    <h3>My Resume</h3>
    <ul>
      <li>
        2 years of work experience in Development
      </li>
      <li>
        3 years of independent project and course work
      </li>
      <li>
        Strong web development background and experience
      </li>
      <li>
        Experienced artist and graphic designer
      </li>
      <li>
        Skilled backend developer
      </li>
    </ul>
</span>
  <span class="right">
      <img src="../../assets/images/David-Nsoesie-Resume.png"/>
  </span>
</div>
