<div>
  <!-- <div class="nav">
      <div class="left">
          <span class="options">
                <p>
                        Projects
                    </p>
                    <p>
                        Designs
                    </p>                    
          </span>
          <hr class="navline"/>
      </div>
      
    <div class="me">
        <img style="width:77px; height:77px" src="../../assets/images/me.png"/>
        <p>David Nsoesie</p>
    </div>
    
  </div>
  <div class="splash">
    <img style="width:1214px" src="../../assets/images/main-splash.png" />
  </div> -->
  <div class="navbar">
    <div class="left">
      <img
        style="width: 30px"
        class="logo"
        src="../../assets/images/DforDavid.png"
      />
    </div>
    <div class="right">
        <a href="/assets/David-resume.pdf"  >
        <button style="cursor: pointer;">Resume</button>
        </a>
        <a href="https://github.com/davidnso">
            <p>Github</p>

        </a>
    </div>
  </div>
  <h1 class="greeter">Developer, Graphic Designer & Illustrator</h1>
  <p class="caption">Eat, sleep, code, draw, write.. code some more, then eat again.</p>
  <div class="splash">
    <img style="width:600px" src="../../assets/images/main-splash.png" />
  </div>
  <hr class="splashLine"/>
  <div class="iconRow">
      <span style="text-align: center; width: 200px">
            <img src="../../assets/images/web.png" />
            <p>Full Stack Developer</p>
      </span>
        
      <span style="text-align: center;width: 200px ">
            <img src="../../assets/images/phone.png" />
            <p>Mobile App Developer</p>
      </span>
      <span style="text-align: center;width: 200px">
            <img src="../../assets/images/ccna.png" />
            <p>Cisco Certified Professional</p>
      </span>
      </div>
</div>
