<div>
  <div class="nav">
      <div class="left">
          <span class="options">
                <p>
                        Projects
                    </p>
                    <p>
                        Designs
                    </p>                    
          </span>
          <hr class="navline"/>
      </div>
      
    <div style="text-align: center; align-self: center;">
        <img style="width:77px; height:77px" src="../../assets/images/me.png"/>
        <p>David Nsoesie</p>
    </div>
    
  </div>
  <div class="splash">
    <img src="../../assets/images/main_splash.png" />
  </div>
  <hr class="splashLine"/>
  <div class="iconRow">
      <span style="text-align: center; width: 200px">
            <img src="../../assets/images/web.png" />
            <p>Full Stack Developer</p>
      </span>
        
      <span style="text-align: center;width: 200px ">
            <img src="../../assets/images/phone.png" />
            <p>Mobile App Developer</p>
      </span>
      <span style="text-align: center;width: 200px">
            <img src="../../assets/images/ccna.png" />
            <p>Cisco Certified Professional</p>
      </span>
      </div>
</div>
